.no-drag {
  -webkit-app-region: no-drag;
}

.flex-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-c-l {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

li {
  list-style: none;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.line-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hover-bg {
  transition: background-color 0.3s linear
}

.ls {
  padding: 0;
}

.volume {
  padding: 10px 0;
  width: 25px !important;
}

.volume.el-popover {
  min-width: auto;
  .el-slider.is-vertical .el-slider__runway {
    width: 5px;
    margin: 0 2px;
  }
  .el-slider__button {
    width: 8px;
    height: 8px;
    border: solid 1px #31c27c
  }
  .el-slider.is-vertical {
    left: 8px;
  }
}